<link rel="stylesheet" href="/styles/home/main.css">
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<script src="/js/subscribe.js"></script>

<div class="container">

    <h1 id="head"><%= title%></h1>

</div>

<div>
    <img id="logo" src="/images/dockestack2.png">
</div>

<h3 id="desc">Please Subscribe for most happening things about Dockerstack and its Components</h3>

<div class="input-group" id="subscribe">

    <input type="email" value="" placeholder="E-mail address" name="EMAIL" class="required email form-control" id="email">
        <span class="input-group-btn">
		    <input type="submit" class="button btn btn-default" value="Subscribe" name="subscribe" onclick="Javascript:subscribeMail()" >
		</span>

</div>

<div id="push"></div>
