<link rel="stylesheet" href="/styles/home/main.css">
<% block('localScripts', '<script src="/js/createTemplate.js"></script>') %>

<div class="container">

</br>

<div class="navbar-right">

    <div class="btn-group">
        <button class="btn btn-success" type="button"><i class="fa fa-user"></i> Hello <%= user%> !</button>
        <button data-toggle="dropdown" class="btn btn-success dropdown-toggle" type="button"><span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="/auth/logout">Signout</a></li>

        </ul>
    </div>
</div>

<div class="row">
    <div class="header-nav">
        <h1><i class="fa fa-cloud fa-1x"></i> Public Cloud</h1>
    </div>
</div>


</br>

<div class="col-lg-12">

    <div class="btn-group" style="margin-left:2%">
        <button type="button" class="btn btn-nav">
            <span class="fa fa-dashboard fa-3x"></span>
            <p><a href="/index/dashboard">Dashboard</a></p>
        </button>
    </div>

    <div class="btn-group" style="margin-left:2%">
        <button type="button" class="btn btn-nav">
            <span class="fa fa-building-o fa-3x"></span>
            <p><a href="/index/private">Private Cloud</a></p>
        </button>
    </div>
    <div class="btn-group" style="margin-left:2%">
        <button type="button" class="btn btn-nav">
            <span class="fa fa-sitemap fa-3x"></span>
            <p><a href="/index/network">Network</a></p>
        </button>
    </div>
    <div class="btn-group" style="margin-left:2%">
        <button type="button" class="btn btn-nav">
            <span class="fa fa-database fa-4x"></span>
            <p><a href="/index/storage">Storage</a></p>
        </button>
    </div>
    <div class="btn-group" style="margin-left:2%">
        <button type="button" class="btn btn-nav">
            <span class="fa fa-area-chart fa-3x"></span>
            <p><a href="/index/monitor">Monitoring</a></p>
        </button>
    </div>
    <div class="btn-group" style="margin-left:2%">
        <button type="button" class="btn btn-nav">
            <span class="fa fa-cubes fa-3x"></span>
            <p><a href="/index/deploy">Integrated</br>Deployments</a></p>
        </button>
    </div>
    <div class="btn-group" style="margin-left:2%">
        <button type="button" class="btn btn-nav">
            <span class="fa fa-users fa-3x"></span>
            <p><a href="/index/users">Users</a></p>
        </button>
    </div>

</div>

</br>

<!--
    <div class="panel panel-info templist">
        <div class="panel-heading">Panel heading without title</div>
        <div class="panel-body">
            <a data-toggle="modal" href="#addtemp" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Add DockerFile</a>
            <a data-toggle="modal" href="" class="btn btn-success"><i class="glyphicon glyphicon-upload"></i> Upload DockerFile</a>
        </div>
    </div>

    <div class="modal fade" id="addtemp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 75%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onClick="JavaScript:clearInst()">&times;</button>
                    <label class="control-label" for="textinput">Create</label>
                </div>
                <div class="modal-body">

                    <div>
                        <input class="btn btn-success" type="submit" value="+ Add Instruction" onClick="JavaScript:addinst()" >
                    </div>

                    </br>

                    <div class="panel panel-info">
                        <div class="panel-heading">

                            Create Template
                        </div>
                        <div class="panel-body">

                            <div class="form-group" id="instadd"></div>
                            <input class="btn btn-success" type="submit" value="Submit" onClick="JavaScript:convertJsonObj()" >

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

<div class="panel panel-primary graphs">
    <div class="panel-heading">
        Service Provider
    </div>
    <div class="panel-body">

        <div class="btn-group" style="margin-left:2%">
            <button type="button" class="btn btn-nav" data-toggle="modal" href="#aws">
                <span class="fa fa-adn fa-4x"></span>
                <p>Amazon</br>Web Services</p>
            </button>
        </div>
        <div class="btn-group" style="margin-left:2%">
            <button type="button" class="btn btn-nav" data-toggle="modal" href="#azure">
                <span class="fa fa-windows fa-4x"></span>
                <p>Microsoft </br> Azure</p>
            </button>
        </div>

    </div>
</div>


<div id="aws" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">AWS Credentials</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="description" class="col-sm-3 control-label">Secret Key</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="description" name="description">
                    </div>
                </div>
                </br>
                </br>
                <div class="form-group">
                    <label for="description" class="col-sm-3 control-label">Access Id</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="description" name="description">
                    </div>
                </div>
                </br>
                </br>
                <div class="form-group">
                    <label for="description" class="col-sm-3 control-label">Region</label>
                    <div class="col-sm-9">
                        <select name="zone" id="regionamazon" class="form-control">
                            <option value="">No Data Center</option>
                            <option value="us-east-1">US East (Northern Virginia)</option>
                            <option value="us-west-2">US West (Ore[]gon)</option>
                            <option value="us-west-1">US West (Northern California)</option>
                            <option value="eu-west-1">EU (Ireland)</option>
                            <option value="ap-southeast-1">Asia Pacific (Singapore)</option>
                            <option value="ap-southeast-2">Asia Pacific (Sydney)</option>
                            <option value="ap-northeast-1">Asia Pacific (Tokyo)</option>
                            <option value="sa-east-1">South America (Sao Paulo)</option>
                        </select>
                    </div>
                </div>
                </br>
                </br>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>

            </div>

        </div>
    </div>
</div>


    <div id="azure" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">AWS Credentials</h4>
                </div>
                <div class="modal-body">
                    <p>Do you want to save changes you made to document before closing?</p>
                    <p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div id="notification"></div>

</div>
